<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="2ad98bd5-c29b-417b-9fe2-966797706574" Publisher="CN=kenso" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="2ad98bd5-c29b-417b-9fe2-966797706574" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CrowdSpark.App</DisplayName>
    <PublisherDisplayName>kenso</PublisherDisplayName>
    <Logo>Assets\icons\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CrowdSpark.App.App">
      <uap:VisualElements DisplayName="Crowd Spark" Square150x150Logo="Assets\icons\Square150x150Logo.png" Square44x44Logo="Assets\icons\Square44x44Logo.png" Description="CrowdSpark.App" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\icons\Wide310x150Logo.png" Square71x71Logo="Assets\icons\Square71x71Logo.png" Square310x310Logo="Assets\icons\Square310x310Logo.png"></uap:DefaultTile>
        <uap:SplashScreen Image="Assets\icons\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>